.footer {
    height: 10vh;
    background-color: #E33C17;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    position: sticky;
    width: 100%;
    left: 0;
    bottom: 0;
}