<div class='container'>
  <div class="container_content">
    <div class="container_content_inner">
      <div class="title">
        <h1>RustlerX</h1>
      </div>
      <div class="par">
        <p>
          <strong>Rustler</strong>: the word derives from two english words (Real-Hustler). <br />
          X: stands for the name of the real hustler in question.
        </p>
        <div class="title">
          <h1>Our Story</h1>
          <p>
            We believe in shared knowledge and the power behind it. Many local businesses strive to be the best in the
            field they're in, but the journey is never simple. Nobody said it will be at least.
          </p>
          <p>
            We believe that learning from each other and growing together can help us be successfull in whatever
            business we're about.
          </p>
          <p>
            RuslterX was born to address challenges faced by local businesses. Our research has shown us that, one of the key issues faced by small businesses is visibility and sustainability.
            We have developed this platform as a way to bridge a gap between small and big businesses.
          </p>
          <p>
            This platform will help local businesses with the following: 
            <br>
          </p>
          <ul>
              <li>Visibility.</li>
              <li>Free tool available to them.</li>
              <li>Fire Stories from other entrepreneurs.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>