
 <div class="head-section">
  <h1>
    Hello Rustlers
  </h1>
  <p>Learn how others started and grew their businesses.</p>
  <img  alt="Rustlers Logo" src="../assets/img/rustlers.png">
</div>
<div class="important-notice">
  <h1>
    <strong>Please Note:-</strong> 
  </h1>
  <h3>Due to time constraint and limited budget, the features of the
    app will be limited to those present at the moment, until further notice.
    Users are thereby adviced to use the features and 
    functionalities that are made available to them at this point in time.</h3>
</div>
<!-- <div class="mid-section">
  <div class="links">
    <div class="dot">
      <h2>The Vision</h2>
      <p>
        Find out what vision other entrepreneurs had??
        How did they start?? And what made them start??
      </p>
      <p>
        The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.
        --- <i>&quot;Albert Einstein&quot;</i>
      </p>
    </div>
    <div class="dot">
      <h2>
        The Journey
      </h2>
      <p>
        We also look and the journey you took to get to where you are,
        the trial and tribulations.
      </p>
    </div>
    <div class="dot">
      <h2>The Business</h2>
      <p>
        Showcase your business, and grow your <strong>leads</strong>, we have a database of your potential customers, suppliers, and mentors.
      </p>
    </div>
  </div>
</div> -->