
.head-section {
    text-align: center;
    width: 700px;
    margin: 20px auto;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #FFFFFF;
}

.btn-orange {
    text-decoration: none;
    background-color: #E34C17;
    padding: 10px 20px;
    border-radius: 4px;
    color: #FFFFFF;
}
.mid-section {
    text-align: center;
    margin: 150px;
    position: relative;
  }
  .links {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .mid-section:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px solid black;
    background: black;
    width: 100%;
    transform: translateY(-50%);
  }
  .dot {
    width: 400px;
    height: 200px;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #FFFFFF;
  }