.header-card {
    margin: 2% auto;
    width: 80%;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 100%;
    height: 100%;
}
.card-body {
    margin: 2% auto;
    width: 80%;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    padding: 20px;
}
.card-white .card-image {
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
}
.card-footer {
    margin: 2% auto;
    width: 80%;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}
.btn-back {
    background: #E33C17;
    padding: 15px 20px;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    width: 80%;
    display: block;
}
.details {
    margin-top: 5%;
}
i {
    margin-left: 10%;
    margin-bottom: 5%;
}
@media(min-width: 780px){
    .header-card {
        margin: 2% auto;
        width: 60%;
        background-color: #FFFFFF;
        box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
        border-radius: 4px;
        padding: 20px;
        text-align: center;
    }

    .card-body {
        margin: 2% auto;
        width: 60%;
        background: #FFFFFF;
        box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
        border-radius: 4px;
        padding: 20px;
    }

    .logo {
        width: 30%;
        height: 30%;
    }

    .card-footer {
        margin: 2% auto;
        width: 80%;
        background-color: #FFFFFF;
        padding: 20px;
        box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    }

    .btn-back {
        margin: auto 10%;
        background: #E33C17;
        padding: 15px 20px;
        color: #FFFFFF;
        font-weight: bold;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        display: block;
    }
}