<div class="main-card">
  <h2>
    <i class="fa fa-check" aria-hidden="true"></i>
  </h2>
  <h3>Thank you for your submission.</h3>
  <p>We will be in touch soon.</p>
  <div class="footer">
    <p>In the mean time, continue enjoying the app.</p>
    <p>
      <a routerLink="" class="go-home-button">Home</a>
    </p>
  </div>
</div>
<div class="fill-the-remaining">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>