<div class="head">
  <p>We're always looking for suggestions.</p>
  <h1>Let us know how we can improve the platform.</h1>
  <p>We will get in touch as soon as we can.</p>
</div>
<div class="card-contribute">
  <form class="contribution-form" [formGroup]="ContributionsForm" (submit)="sendEmail()">
    <input type="text" formControlName="Name" name="Name" placeholder="Your Name" class="formControl">
    <br>
    <input type="email" formControlName="Email" name="Email" placeholder="Your Email" class="formControl">
    <br>
    <input type="text" formControlName="Cellphone" name="Cellphone"  placeholder="Your Cellphone" class="formControl">
    <br>
    <p><label for="Contribute"><strong>How do you want to contribute??</strong></label></p>
    <select formControlName="ContributeOption" name="ContributeOption" class="formControl">
      <option value="default" disabled>Please select an option.</option>
      <option value="journey">Share your entrepreneurial journey.</option>
      <option value="asset">Share an asset.</option>
      <option value="imporove">Make the platform better.</option>
      <option value="say_hi">Applaud the creators of this app.</option>
    </select>
    <br>
    <br>
    <p><label for="Remark"><strong>Remark:</strong></label></p>
    <textarea formControlName="Remarks" name="Remarks" id="" cols="30" rows="20" class="formControl" style="resize: none;">

    </textarea>
    <p class="submit">
      <button class="submit-contribution" type="submit">Submit Request</button>
    </p>

  </form>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#E33C17" type="square-jelly-box" [fullScreen]="true">
    <p style="color: #FFFFFF; font-weight: bolder; font-size: 22px;">Loading</p>
  </ngx-spinner>
</div>





<!--
  <div class="card-contribute">
<form action="https://mailthis.to/you@mail.com"
    method="POST" encType="multipart/form-data">
    <input type="text" name="name" placeholder="Your name" class="formControl">
    <input type="email" name="_replyto" placeholder="Your email" class="formControl">
    <textarea name="message" placeholder="Enter your message here" class="formControl"></textarea>
    <input type="file" name="file" placeholder="Attachments (optional)">
    <input type="hidden" name="_subject" value="Contact form submitted" class="formControl">
    <input type="hidden" name="_after" value="https://myhomepage.net/">
    <input type="hidden" name="_honeypot" value="">
    <input type="hidden" name="_confirmation" value="">
    <input type="submit" value="Send">
</form>
</div>
 -->